/*
 * Colors:
 *   header gray: #414141
 *   body button green: #56dd56
 *   footer gray: #f1f1f1
 *   footer button red: #dd5656
 */

body {
  width: 300px;
  height: 400px;
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', 'Lato', Helvetica, Arial, sans-serif;  
}

#stx-trader {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

/* Header */

#stx-trader .stx-header {
  width: 100%;
  height: 40px;
  background-color: #414141;
  border-bottom: 1px solid #313131;

  position: relative;
}

#stx-trader .stx-header .user {
  position: absolute;
  top: 11px;
  left: 10px;
  font-size: 1.1em;
  color: white;
}

/* Body */

#stx-trader .stx-body {
  width: 100%;
  height: 280px;
  background-color: white;
  overflow: auto;
}

#stx-trader .stx-body ul.buy-list {
  list-style: none;
  padding: 10px;
  margin: 0px;
}

#stx-trader .stx-body li.buy-item {
  list-style: none;
  margin: 0px;
  margin-bottom: 2px;
  height: 40px;
  width: 100%;
  position: relative;
}

#stx-trader .stx-body li.buy-item span.buy-company {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 1.1em;
}
#stx-trader .stx-body li.buy-item span.buy-issuer {
  position: absolute;
  top: 15px;
  left: 0px;
  color: #cccccc;
}
#stx-trader .stx-body li.buy-item span.buy-price {
  position: absolute;
  top: 10px;
  right: 50px;
  color: #cccccc;
}
#stx-trader .stx-body li.buy-item span.buy-button {
  position: absolute;
  width: 36px; /* -4px for the border */
  height: 36px;
  right: 0px;
  top: 0px;
  border: 2px solid #56dd56;
  border-radius: 5px;
  color: #56dd56;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */

#stx-trader .stx-footer {
  width: 100%;
  height: 80px;
  border-top: 1px solid #e1e1e1;
  background-color: #f1f1f1;

  position: relative;
}

#stx-trader .stx-footer input {
  font-size: 1.1em;
  padding-left: 5px;
  padding-right: 5px;
}

#stx-trader .stx-footer input.sell-company {
  width: 200px;
  height: 25px;

  position: absolute;
  top: 5px;
  left: 5px;
}
#stx-trader .stx-footer input.sell-shares {
  width: 90px;
  height: 25px;

  position: absolute;
  bottom: 5px;
  left: 5px;
}
#stx-trader .stx-footer input.sell-value {
  width: 90px;
  height: 25px;

  position: absolute;
  bottom: 5px;
  left: 115px;
}
#stx-trader .stx-footer span.sell-button {
  position: absolute;
  width: 66px; /* -4px for the border */
  height: 66px;
  right: 5px;
  top: 5px;
  border: 2px solid #dd5656;
  border-radius: 5px;
  font-size: 1.4em;
  color: #dd5656;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover */

.hvr-fade {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

#stx-trader .stx-body span.buy-button.hvr-fade:hover,
                                     .hvr-fade:focus,
                                     .hvr-fade:active {
  background-color: #56dd56;
  border-color: #56dd56;
  color: white;
}

#stx-trader .stx-footer span.sell-button.hvr-fade:hover,
                                        .hvr-fade:focus,
                                        .hvr-fade:active {
  background-color: #dd5656;
  border-color: #dd5656;
  color: white;
}

